<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="YumeHatsuyuki_Mirror" value="https://nuget-mirror.yume-hatsuyuki.moe/v3/index.json" />
    <!-- 如果后面还需要用到官方源 -->
    <!--
    <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    -->
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>